.card {
  display: inline-block;
  width: calc(60% - 20px);
  margin: 0 10px 20px 10px;
}

/* .card.card-full-width {
  width: calc(60% - 20px);
}

.card-body {
  height: 60%;
} */

/* .list-container {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
} */

